html
    head
        style 
             include styleiam.css 
    title Обо мне
    body
            h1 Обо мне
    .profile
      img(src="https://ic.pics.livejournal.com/anonimusi/67966348/554291/554291_1000.jpg" alt="Фотография")
      p
        | Имя: Дмитрий
        br
        | Возраст: 66
        br
        | Род занятий: Студент
        br
        | Хобби: Разбираться в смартфонах и компьютерах
    h2 Интересы
    ul
      li Игры
      li Учеба
      li Развлечения
      li Работа
    p
      a(href="https://m.vk.com/") Посетите мою социальныую сеть